@import "styles/abstracts/variables";

.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: calc(100% - 180px);
    padding: 1rem 1.5rem;
    background: rgba(255, 255, 255, 0.66);

    a {
        color: $primary-color;
    }

    button {
        margin-left: 2rem;
    }
}