@import "styles/abstracts/variables";

.nav {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    min-width: 180px;
    min-height: 100vh;
    border-right: 1px solid rgba(84, 94, 108, 0.2);

    .nav-items {
        flex-grow: 1;
        margin-top: 3rem;
    }

    .nav-item{
        display: block;
        color: $link-color;
        margin-bottom: 1.5rem;
    }

    .terms {
        margin-bottom: 0;
    }

    .nav-footer {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        a {
            color: $link-color;
            margin-right: 0.5rem;
        }
    }

    .price {
        background-color: $danger-color;
        color: #fff;
    }
}