@import "styles/abstracts/variables";

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 1.5rem;

    h2 {
        font-size: 2.125rem;
        line-height: 2.5rem;
    }

    .icons svg{
        color: $link-color;
        font-size: 19px;
        cursor: pointer;
        margin-left: 1.5rem;

        &:hover {
            color: $danger-color;
        }
    }

}